*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inerBox{
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}
.input_{
    width: 385px;
    height: 45px;
    padding-right: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    text-align: right;
    border-radius: 5px;

}
.main{
    width: 100%;
}
.button_div{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.button_{
    width:85px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 8px;
    outline: none;
}